<div *ngIf="!isGuestAccount" class="full-page-content">
    <h1>Herzlich Willkommen bei DaBubble!</h1>

    <div class="mini-text">
        <span>Ob in öffentlichen Channels oder im privaten 1:1-Chat: Hier bleibt ihr flexibel und immer auf dem neuesten
            Stand.
            Diskutieren, planen, austauschen – alles in Echtzeit!
        </span>
    </div>

    <div class="only-first-functions-ct">
        <h2>So nutzt du DaBubble</h2>
        <div>
            <span class="function-title"><b>Private Nachrichten:</b></span>
            <span class="function-desc"> Tausche dich diskret mit Kollegen oder Freunden aus.</span>
        </div>

        <div>
            <span class="function-title"><b>Channels:</b></span>
            <span class="function-desc"> Erstelle eigene Channels oder tritt bestehenden Channels bei und interagiere
                mit der
                Community.</span>
        </div>

        <div>
            <span class="function-title"><b>Selbstorganisation:</b></span>
            <span class="function-desc"> Nutze den "Self-Chat", um dir Notizen zu machen, Dateien zwischenzuspeichern
                oder To-Do-Listen zu
                erstellen.</span>
        </div>

        <div>
            <span class="function-title"><b>Suchfunktion:</b></span>
            <span class="function-desc"> Mithilfe der Suchfunktion navigierst du durch die App und findest Kontakte,
                Channels oder Nachrichten
                schnell und einfach.</span>
        </div>
    </div>

    <div class="only-advanced-functions-ct">

        <h2>Erweiterte Funktionen</h2>

        <div>
            <span class="function-title"><b>Emojis & Reaktionen:</b></span>
            <span class="function-desc"> Personalisiere deine Nachrichten mit Emojis und sende Reaktionen auf die
                Nachrichten deiner
                Kontakte.</span>
        </div>

        <div>
            <span class="function-title"><b>Nachrichten bearbeiten oder löschen:</b></span>
            <span class="function-desc"> Möchtest du eine bereits gesendete Nachricht ändern, klicke auf die drei Punkte
                und speichere deine
                Anpassungen. Wenn du die Nachricht vollständig entfernen möchtest, lösche den Inhalt und sichere die
                Änderung.</span>
        </div>

        <div>
            <span class="function-title"><b>Eigenen Kontakt bearbeiten:</b></span>
            <span class="function-desc"> Ändere dein Profilbild, aktualisiere deinen Namen oder korrigiere deine
                E-Mail-Adresse – alles bequem
                im Drop-down-Menü im oberen Bereich der Seite.</span>
        </div>

        <div>
            <span class="function-title"><b>Chat-Features:</b></span>
            <span class="function-desc"> Markiere Personen mit dem &#64;-Tag und lade Dateien direkt über das Menü im
                Eingabefeld hoch.</span>
        </div>
    </div>


    <div class="support-text-ct">
        <h2><b>Support:</b></h2>
        <span class="support-text">Du hast Fragen zur Datenverarbeitung oder Schwierigkeiten mit deinem Account? Melde
            dich einfach über die
            Kontaktdaten im Impressum – wir sind für dich da!</span>
    </div>

    <div class="have-fun-txt">
        <span class="support-text">Wir wünschen dir viel Freude mit unserer Plattform!</span>
    </div>

</div>



<div *ngIf="isGuestAccount" class="full-page-content">
    <h1>Herzlich Willkommen bei DaBubble!</h1>

    <div class="mini-text">
        <span>Ob in öffentlichen Channels oder im privaten 1:1-Chat – bei uns bleibst du flexibel und immer auf dem neuesten Stand.
            Diskutiere, plane und tausche dich in Echtzeit aus!
            <br>
            Bitte beachte, dass dir als Gast nur eingeschränkte Funktionen zur Verfügung stehen.
            Wenn du beispielsweise den 1:1-Chat nutzen möchtest, lege bitte ein verifiziertes Konto an oder melde dich mit Google an.
        </span>
    </div>

    <div class="only-first-functions-ct">
        <h2>So nutzt du DaBubble als Gast</h2>

        <div>
            <span class="function-title"><b>Channels:</b></span>
            <span class="function-desc"> Erstelle eigene Channels oder trete bestehenden Channels bei und interagiere mit der Community.</span>
        </div>

        <div>
            <span class="function-title"><b>Selbstorganisation:</b></span>
            <span class="function-desc"> Nutze den "Self-Chat", um Notizen zu machen oder To-Do-Listen zu erstellen.</span>
        </div>

        <div>
            <span class="function-title"><b>Suchfunktion:</b></span>
            <span class="function-desc"> Mithilfe der Suchfunktion kannst du durch die App navigieren und bestehende Channels oder registrierte Nutzer finden. Einen privaten Chat kannst du als Gast jedoch nicht starten.</span>
        </div>
    </div>

    <div class="only-advanced-functions-ct">
        <h2>Erweiterte Funktionen</h2>

        <div>
            <span class="function-title"><b>Emojis & Reaktionen:</b></span>
            <span class="function-desc"> Personalisiere Nachrichten in Channels mit Emojis und sende Reaktionen auf Nachrichten.</span>
        </div>

        <div>
            <span class="function-title"><b>Nachrichten bearbeiten oder löschen:</b></span>
            <span class="function-desc"> Möchtest du eine gesendete Nachricht ändern, klicke auf die drei Punkte und speichere deine Änderungen. Um eine Nachricht zu löschen, entferne den Inhalt und bestätige die Änderung.</span>
        </div>

        <div>
            <span class="function-title"><b>Eigenen Kontakt bearbeiten:</b></span>
            <span class="function-desc"> Aktualisiere temporär deinen Namen, damit er im Chat korrekt angezeigt wird.</span>
        </div>
    </div>

    <div class="support-text-ct">
        <h2><b>Support:</b></h2>
        <span class="support-text">Hast du Fragen zur Datenverarbeitung oder Probleme beim Erstellen eines Accounts? Melde dich einfach über die
            Kontaktdaten im Impressum – wir sind gerne für dich da!</span>
    </div>

    <div class="have-fun-txt">
        <span class="support-text">Wir wünschen dir viel Spaß auf unserer Plattform!</span>
    </div>

</div>