<div class="color-separator" (mouseenter)="onMouseEnter(currentThreadMessage)"
(mouseleave)="onMouseLeave(currentThreadMessage)" *ngIf="firstThreadMessage">
<div [ngClass]="{
  'cu-message-container': currentThreadMessage.senderName === currentUser.name,
  'chatpartner-message-container': currentThreadMessage.senderName === selectedUser.name
}">
  <div [ngClass]="{
    'cu-message-header': currentThreadMessage.senderName === currentUser.name,
    'partner-message-header': currentThreadMessage.senderName === selectedUser.name
  }">
    <div class="avatar-container">
      <img [src]="currentThreadMessage.senderPicture" alt="{{ currentThreadMessage.senderName }}" />
    </div>
    <h4>{{ currentThreadMessage.senderName }}</h4>
    <span class="message-time">{{ getFormattedTimestamp() | date: 'shortTime' }}</span>
  </div>
  <div [ngClass]="{
    'cu-msg-text': currentThreadMessage.senderName === currentUser.name,
    'message-content-bubble': currentThreadMessage.senderName === selectedUser.name && currentThreadMessage.isHovered,
    'static-bubble': currentThreadMessage.senderName === selectedUser.name && !currentThreadMessage.isHovered
  }">
    <p>{{ currentThreadMessage.text }}</p>
  </div>
</div>
</div>