.profile-card-ct {
  position: absolute;
  z-index: 25;
  // height: 700px;
  background-color: white;
  top: 0px;
  width: 650px;
  right: 0px;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
}

.name-escape-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding: 0 32px 26px 32px;
  span {
    font-size: 24px;
    font-weight: 700;
  }
  > div {
    padding: 4px;
    background-color: white;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    &:hover {
      background-color: #eceefe;
    }
    img {
      object-fit: contain;
      &:hover {
        scale: 1.1;
        cursor: pointer;
        filter: brightness(0) saturate(100%) invert(14%) sepia(70%)
          saturate(4200%) hue-rotate(210deg) brightness(93%) contrast(105%);
      }
    }
  }
}

.img-frame {
  display: flex;
  justify-content: center;
  width: 100%;
  img {
    object-fit: cover;
    width: 225px;
    height: 220px;
    border-radius: 120px;
  }
}

.name-edit-flex {
  display: flex;
  flex-direction: column;
  padding: 42px 0 0 36px;
  gap: 12px;
}

input[readonly] {
  background-color: #f5f5f5; 
  color: #333; 
  cursor: not-allowed; 
}

.error-msg {
  width: fit-content;
  margin-left: 30px;
  color: red;
  font-size: 14px;
}

input {
  border: 1px solid #adb0d9;
  padding: 15px 20px 15px 20px;
  gap: 10px;
  border-radius: 30px;
  height: 52px;
  width: 420px;
  font-size: 18px;
  font-family: "Nunito";
  &::placeholder {
    font-size: 18px;
    font-family: "Nunito";
    font-weight: 500;
    color: gray;
  }
}

.edit-option-title {
  height: 117px;
  span {
    display: flex;
    width: fit-content;
    font-size: 18px;
    color: #535af1;
    &:hover {
      color: blue;
      transform: scale(1.03);
    }
  }
}

.description-input {
  display: flex;
  gap: 20px;
  img {
    width: 30px;
  }
}

.mail-flex-column {
  display: flex;
  flex-direction: column;
  padding: 42px 0 0 36px;
  gap: 12px;
  div {
    display: flex;
    align-items: center;
    gap: 12px;
    img {
      width: 30px;
      filter: brightness(0) saturate(100%);
    }
  }
}

.user-mail {
  font-size: 18px;
  color: #1381ff;
  width: 270px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

h3 {
  font-size: 20px;
}

.button-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  width: 500px;
  gap: 50px;
  margin-bottom: 40px;
}

.btn-primary {
  &:hover {
    background-color: #797ef3;
    transform: scale(1.05);
  }
  &:focus {
    background-color: #444df2;
  }
}

.btn-secondary:hover {
  background-color: #535af1;
  color: white;
  transform: scale(1.05);
}

.avatar-box{
  display: flex;
  gap: 8px;
  padding: 48px 0 0 36px;
  img {
    height: 64px;
    width: 64px;
    border-radius: 100%;
    &:hover {
      box-sizing: border-box;
      outline: 3px solid #e6e6e6;
      outline-offset: 0;
      border-radius: 100%;
      cursor: pointer;
    }
  }
 } 

 .added-avatar {
  display: flex;
  padding: 42px 0 0 36px;
  gap: 24px;
}

.picture-info-text {
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  line-height: 27px;
  cursor: default;
}


 label {
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 700;
  border-radius: 25px;
  border: 1px solid #797ef3;
  color: #797ef3;
  padding: 12px 25px;
  background-color: white;

  &:hover {
    font-family: "Nunito";
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
    background-color: #535af1;
    color: white;
    cursor: pointer;
  }
}

 @media (max-width:750px){
  .profile-card-ct{
    width: 350px;
    padding: 15px 15px;
    gap: 12px;
  } 
  
  .img-frame{
    img{
      width: 150px;
      height: 150px;    
    }
}

.avatar-box{
  gap: 4px;
  padding: 10px 0 0 0px;
  img{
    width: 50px;
    height: 50px;
  }
} 

.name-escape-flex{
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin-top: 0;
}

.added-avatar{
    gap: 24px;
    padding: 19px 0px;
} 

.name-edit-flex{
  padding: 0;
  
  input{
    width:98%;
  } 
}

 .mail-flex-column{
  padding: 0;
  input{
    width: 98%;
  }
}

// .user-mail-input{
//   width: 98px;
// }
 
.button-flex{
  width: unset;
  gap: 10px;
  margin-bottom: 0;
}

}