.msg-input-ct {
  display: flex !important;
  padding: 32px;
  position: relative;
  flex-direction: column-reverse;
}

.chat-input {
  flex: 1;
    border: 1px solid #adb0d9;
    border-radius: 20px;
    padding: 20px 20px 40px 18px;
    position: relative;
    resize: none;
    font-size: 18px !important;
    font-family: "Nunito";
    background: none;
    color: transparent;
    caret-color: black;
    width: 100%;
    white-space: pre-wrap;
    overflow: visible;
    scrollbar-width: none;
    max-height: 250px;
    word-wrap: break-word;
 

  &:focus {
    border-color: #444df2;
    outline: none;
  }

  &::placeholder {
    font-size: 18px;
    font-family: "Figtree";
    color: grey;
    opacity: 0.9;
  }
}
 
.chat-input::selection {
  color: #FFFFFF;
  background: #444df2; 
}

.interactions-send-msg-ct {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 33px;
  // bottom: 39px;
  left: 35px;
  justify-content: space-between;
  width: calc(97% - 59px);
  border-bottom-left-radius: 22px;
  background-color: #FFFFFF;
  height: 39px;
}

.only-interactions-bottom-ct {
  display: flex;
  gap: 8px;
  margin-left: 4px;
  align-items: center;
}

.plus-separator-flex {
  display: flex;
  gap: 4px;
  object-fit: cover;

  div {
    &:hover {
      background-color: #eceefe;
      border-radius: 20px;
      height: 38px;
    }
  }

  .plus {
    &:hover {
      scale: 1.1;
      filter: brightness(0) saturate(100%) invert(14%) sepia(70%) saturate(4200%) hue-rotate(210deg) brightness(93%) contrast(105%);
    }
  }
}


.emoji-at-ct {
  display: flex;
  align-items: center;

  div {
    &:hover {
      background-color: #eceefe;
      border-radius: 20px;
      height: 38px;
    }
  }

  img {
    &:hover {
      scale: 1.1;
      filter: brightness(0) saturate(100%) invert(14%) sepia(70%) saturate(4200%) hue-rotate(210deg) brightness(93%) contrast(105%);
    }
  }
}


.emoji-picker {
  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 10;
  font-size: 18px;
}

.people-mention-card {
  position: absolute;
  left: 128px;
  top: -421px;
}

.msg-send {
  width: 34px;
  align-self: center;
  margin-bottom: 4px;

  &:hover {
    filter: brightness(1.8);
  }
}

.main-input-area {
  position: relative;
  width: 100%;
  display: flex;
  max-height: 250px;
  overflow-y: auto;
  background-color: #FFFFFF;
  scrollbar-width: thin;
}
  
.highlight{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: black;
  padding: 20px 20px 40px 18px;
  font-size: 18px !important;
  // overflow-y: auto;
}


.show-selected-files{
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
 
}

.file-info{
      display: flex;
      width: 103px;
      justify-content: center;
      height: 59px;
      align-items: center;
      border-radius: 20px;
      cursor: pointer;
  
  &:hover{
    background-color: #eceefe;
    span{
      color: #444df2;
    }

  }
  img{
    width: 50px;
    height: 50px;
  }
}

.file-box{
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.delet-box{
  position: relative;
  top: -6px;
}

.delete-span{
  font-size: 20px;
  cursor: pointer;
}

.file-info-mix{
      display: flex;
      max-width: max-content;
      justify-content: center;
      height: 59px;
      align-items: center;
      border-radius: 20px;
      cursor: pointer;
  
  &:hover{
    background-color: #eceefe;
  .delete-span{
      color: #444df2;
    }

  }
  img{
    width: 50px;
    height: 50px;
  }
}


.mix-file{
  position: relative;
  top: -6px;
  display: flex;
  flex-direction: column;
}