<div [ngClass]="{ 'page-content-plus-header': successfullyLogged }">
  <app-header
    (headerChannelSelcted)="onHeaderchannelSelected($event)"
    (headerUserSelected)="onHeaderUserSelected($event)"
  ></app-header>
  <div class="main-content">
    <div
      [ngClass]="{ 'reset-gap': global.checkWideChannelOrUserThreadBox }"
      class="full-page-content"
    >
      <app-workspace
        [ngClass]="{

            'workspace-open': isWorkspaceOpen,
            'workspace-closed':!isWorkspaceOpen,
            'close-box':global.openChannelorUserBox || global.openChannelOrUserThread ,
            'open-box':!global.openChannelorUserBox && !global.openChannelOrUserThread,

        }"
        (userSelected)="onUserSelected($event)"
        (channelSelected)="onChannelSelected($event)"
        [selectedUserHome]="selectedUser"
        [selectedChannelHome]="selectedChannel"
      ></app-workspace>

      <app-start-screen
        [ngClass]="{
          'display-show': global.checkWideChannelorUserBox,
          hiddenFullWidth: global.checkWideChannelOrUserThreadBox,
          'startScreen-open': global.openChannelorUserBox || !isWorkspaceOpen,
          hidden: global.openChannelOrUserThread
        }"
        (userSelectedFromStartscreen)="
          handleUserSelectionFromStartscreen($event)
        "
        (channelSelectedFromStartscreen)="
          handleChannelSelectionFromStartscreen($event)
        "
        (userSelected)="onUserSelected($event)"
        [onHeaderChannel]="onHeaderChannel"
        [onHeaderUser]="onHeaderUser"
        [selectedUser]="selectedUser"
        [mentionUser]="mentionUser"
        [selectedChannel]="selectedChannel"
        (threadOpened)="onThreadOpened()"
      >
      </app-start-screen>

      <app-thread
        *ngIf="directThreadId || channelThreadId"
        [directThreadId]="directThreadId"
        [ngClass]="{
          'display-hidden': global.checkWideChannelorUserBox,
          'hiddenMax-Width': global.checkWideChannelOrUserThreadBox,
          openThread: global.openChannelOrUserThread
        }"
        [channelThreadId]="channelThreadId"
        (closeThread)="onThreadClosed()"
        [selectedUser]="selectedUser"
        [selectedChannel]="selectedChannel"
        (userSelectedFromThread)="handleUserSelectionFromThread($event)"
        (userSelectedFromChannelThread)="
          handleUserSelectionFromChannelThread($event)
        "
      >
      </app-thread>
    </div>
  </div>
</div>

<div *ngIf="successfullyLogged" class="overlay"></div>
<mat-card
  *ngIf="successfullyLogged"
  appearance="outlined"
  class="login-sended-info"
  [ngClass]="{ visible: successfullyLogged, hidden: !successfullyLogged }"
>
  <mat-card-content class="success-login-content">
    <span class="sended-text">
      Login als
      <span class="guest-or-mail">
        <b>
          {{
            isGuestLogin
              ? "Gast"
              : global.googleAccountLogIn
              ? "Google Nutzer"
              : global.currentUserData.email
          }}
        </b>
      </span>
    </span>
  </mat-card-content>
</mat-card>
<div
  class="workspace-opener"
  [class.hovered]="isHovered"
  (click)="toggleWorkspace()"
  (mouseenter)="isHovered = true"
  (mouseleave)="isHovered = false"
>
  <p>
    {{
      !global.openChannelorUserBox && isWorkspaceOpen
        ? "Workspace-Menü schließen"
        : "Workspace-Menü öffnen"
    }}
  </p>

  <img
    class="workspace-drawer"
    [src]="getImageSource()"
    [alt]="
      !global.openChannelorUserBox && isWorkspaceOpen
        ? 'Hide workspace'
        : 'Show workspace'
    "
  />
</div>

<!-- [currentUser]="currentUser" -->
